// ## Colors

// ### Primary

// #### Text

$sub-heading: hsl(276, 100%, 81%);
$chat-left: hsl(276, 55%, 52%);
$chat-right: hsl(271, 15%, 43%);
$placeholder-text: hsl(206, 6%, 79%);
$main-heading: hsl(271, 36%, 24%);
$paragraph: hsl(270, 7%, 64%);

// #### Gradients

$background-colors: linear-gradient(
  90deg,
  hsl(264, 100%, 61%) 25%,
  hsl(293, 100%, 63%) 75%
);

// ### Secondary

$app-background: hsl(270, 20%, 96%);
$btn-submit: hsl(271, 36%, 24%);
$bn-radio-outline: hsl(289, 100%, 72%);

@mixin message {
  max-width: 129px;
  padding: 4px 7px;
  margin: 0;
  margin: 0.5rem;
  p {
    margin: 0;
    font-size: 0.5rem;
  }
}

.cellphone {
  width: 245px;
  height: 503px;
  padding: 11px 10px;
  border-radius: 25px;

  .app {
    background-color: $app-background;
    border-radius: 25px;
    .contact {
      background: linear-gradient(90deg, #8838ff 25%, #e942ff 75%);
      position: relative;
      width: 100%;
      padding: 0 15px;
      padding-top: 30px;
      padding-bottom: 15px;
      border-radius: 25px 25px 7px 7px;
      .white-block {
        position: absolute;
        width: 129px;
        height: 18px;
        background-color: white;
        top: 0;
        left: 50%;
        translate: -50%;
        border-radius: 0 0 50px 50px;
      }
      .return {
        i {
          color: #fff;
          font-size: 20px;
          font-weight: 500;
        }
      }
      .avatar {
        img {
          width: 26px;
          border: 2px solid white;
          border-radius: 100%;
        }
      }
      .user-data {
        h2 {
          color: #fff;
          margin: 0;
          font-size: 0.82rem;
        }
        p {
          color: $sub-heading;
          margin: 0;
          font-size: 0.52rem;
        }
      }
      .setings {
        color: #fff;
      }
    }

    .messages-log {
      position: relative;
      border-radius: -25px -25px 0 0;
      padding: 10px 7px;
      width: 100%;
      display: flex;
      flex-direction: column;

      .income-message {
        @include message();
        background-color: $placeholder-text;
        color: $chat-left;
      }

      .outcome-message {
        @include message();
        align-self: flex-end;
        background-color: #fff;
        color: $chat-right;

        .log-img {
          width: 100%;
          width: 2.6rem;
        }
      }
    }
  }
}
