*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html {
  max-width: 1440px;
  margin: auto;
}

main {
  max-width: 936px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

footer {
  width: 100%;
  margin: auto;
}
