@import "components";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  max-width: 1440px;
  height: 100vh;
  display: flex;
  position: relative;
  background-color: $app-background;
}

.block {
  z-index: 1;
  position: absolute;
  height: 750px;
  width: 500px;
  left: -230px;
  // left: 0;
  top: 0;
  border-radius: 0px 0px 400px 400px;
  background: rgba(136, 56, 255, 1);
  background: linear-gradient(
    230deg,
    rgba(233, 66, 255, 0.8) 2%,
    rgba(136, 56, 255, 1) 75%
  );
}

main {
  max-width: 936px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  z-index: 10;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
